<div class="project-subsystems">
    <h3 class="title">Subsystems</h3>

    <p-table [value]="subsystems" class="subsystems-table">
        <ng-template pTemplate="body" let-subsystem>
            <tr>
                <td>
                    <ng-container *ngIf="editingSubsystemId === subsystem.id; else nameView">
                        <input [(ngModel)]="editedSubsystem!.name" />
                    </ng-container>
                    <ng-template #nameView>
                        <span class="subsystem-name">{{ subsystem.name }}</span>
                    </ng-template>
                </td>
                <td>
                    <ng-container *ngIf="editingSubsystemId === subsystem.id; else descView">
                        <input [(ngModel)]="editedSubsystem!.description" />
                    </ng-container>
                    <ng-template #descView>{{ subsystem.description }}</ng-template>
                </td>
                <td *ngIf="!permission.isViewer(projectId)">
                    <ng-container *ngIf="editingSubsystemId === subsystem.id; else actionsView">
                        <div class="actions">
                            <div (click)="updateSubsystem()" class="p-button">
                                <i class="pi pi-save"></i>
                            </div>
                            <div (click)="cancelEditing()" class="p-button">
                                <i class="pi pi-times"></i>
                            </div>
                        </div> 
                    </ng-container>
                    <ng-template #actionsView>
                        <div class="actions">
                            <div (click)="startEditing(subsystem)" class="p-button">
                                <i class="pi pi-pencil"></i>
                            </div>
                            <div (click)="deleteSubsystem(subsystem.id)" class="p-button">
                                <i class="pi pi-trash"></i>
                            </div>
                        </div>
                    </ng-template>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <div *ngIf="!permission.isViewer(projectId)" class="add-subsystem-row">
        <input [(ngModel)]="newSubsystemName" name="name" placeholder="Name" required />
        <input [(ngModel)]="newSubsystemDescription" name="description" placeholder="Description" required />

        <div (click)="addSubsystem()" class="p-button">
            <i class="pi pi-plus"></i>
        </div>
    </div>

</div>