.testcase-form-container {
    flex: 1;
    padding: 20px;
}

form {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 16px 24px;
    align-items: center;
    max-width: 600px;
    width: 100%;
}

label {
    text-align: right;
}

.evidence {
    font-size: small;
}

input[type="file"] {
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

.evidence div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.button-container {
    grid-column: 2 / span 1;
    display: flex;
    gap: 10px;
    width: 100%;
}

@media (max-width: 600px) {
    form {
        grid-template-columns: 1fr;
    }

    label {
        text-align: left;
        padding-bottom: 4px;
    }

    .button-container {
        grid-column: 1 / -1;
        flex-direction: column;
        align-items: stretch;
    }
}