.project-requirements {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.title {
    color: var(--primary-dark);
    margin: 0;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-requirement {
    background-color: var(--primary-color);
    color: var(--background-color);
    width: fit-content;
    padding: 5px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-requirement:hover {
    background-color: var(--primary-color-light);
}

.requirement-id {
    font-weight: bold;
    cursor: pointer;
}

.requirements-table ::ng-deep th {
    background-color: var(--primary-color-lightest);
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border: none;
}

.requirements-table ::ng-deep th div {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.requirements-table ::ng-deep th:hover {
    background-color: var(--primary-color-light);
}

.requirements-table ::ng-deep td {
    padding: 10px;
    border: none;
}

.requirements-table ::ng-deep tr:hover {
    background-color: var(--gray-light);
}