.project-information {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.name {
    color: var(--primary-dark);
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name h3 {
    margin: 0;
}

.edit {
    color: var(--primary-dark);
}

.edit i:hover {
    color: var(--gray-dark);
    transition-duration: 0.5s;
    cursor: pointer;
}

.data {
    display: flex;
    gap: 20px;
    font-size: smaller;
}

