<nav class="menu">
    <div class="project-title" *ngIf="!isEditMode">
        {{ projectName }}
    </div>
    <div class="project-title" *ngIf="isEditMode">
        <a [routerLink]="['/projects', projectId]">
            {{ projectName }}
        </a>
    </div>
    <div *ngIf="isEditMode">
        <ul class="project-sections">
            <li>
                <a [routerLink]="['/projects', projectId, 'subsystems']">
                    <i class="pi pi-sitemap"></i>
                    <div class="section-title">Subsystems</div>
                </a>
            </li>
            <li>
                <a [routerLink]="['/projects', projectId, 'requirements']">
                    <i class="pi pi-file-edit"></i>
                    <div class="section-title">Requirements</div>
                </a>
            </li>
            <li>
                <a [routerLink]="['/projects', projectId, 'testcases']">
                    <i class="pi pi-file-check"></i>
                    <div class="section-title">Test Cases</div>
                </a>
            </li>
            <li>
                <a [routerLink]="['/projects', projectId, 'traceability-matrix']">
                    <i class="pi pi-table"></i>
                    <div class="section-title">RTM</div>
                </a>
            </li>
            <li>
                <a [routerLink]="['/projects', projectId, 'users']">
                    <i class="pi pi-user"></i>
                    <div class="section-title">Users</div>
                </a>
            </li>
        </ul>
    </div>
</nav>