.login-container {
    min-height: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.login-box {
    background-color: var(--background-color);
    width: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.login-title {
    font-weight: bold;
    padding: 10px;
}

.form-group {
    padding: 10px 0;
}

input {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid var(--gray-medium);
    border-radius: 10px;
}

button[type='submit'] {
    width: 100%;
    padding: 5px 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 20px;
}

button[type='submit']:hover {
    background-color: var(--primary-color-light);
}

.register-prompt {
    display: flex;
    justify-content: center;
}

.register-btn {
    font-weight: bold;
    cursor: pointer;
}

.error {
    color: var(--error);
    font-size: small;
}

@media (max-width: 480px) {
    .login-box {
        min-width: 100%;
    }
}